html,body {
  height: 100%;
  background-image: url("Images/Container.jpg");
  background-size: cover;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 50px;
  background-color: #f1f1f1e8;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: fit-content;
  max-width: calc(100% - 30px);
  background-image: url("path/to/container-background-image.jpg");
  background-size: cover;
}

.row {
  display: flex;
  justify-content: center;
}

.square {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #ccc;
  border-radius: 50px;
  margin: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  opacity: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}

.title {
  font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.634);
  border-radius: 50px;
  padding: 15px;
}

.square1 {
  background-image: url("Images/Pizza.jpg");
}

.square2 {
  background-image: url("Images/Coffee.jpg");
}

.square3 {
  background-image: url("Images/Cake.jpg");
}

.square4 {
  background-image: url("Images/Pasta.jpg");
}

.square:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.square:hover .title {
  display: block;
  color: white;
}

.square:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}

h1 {
  font-size: 40px;
  transition: 0.2s;
  border-radius: 30px;

}
h1:hover,
.square:hover {
  background-color: rgb(65, 65, 65);
  transform: scale(1.1);
  border-radius: 30px;
  padding: 10px;
  transition: 0.2s;
}

h1:hover {
  color: white;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  transition: 0.3s;
}

footer:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: gray;
}